
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header{
    position: relative;
    background-color: black;
    height: 70px;

}

/* HEADER */

.header{
    position: relative;
    background-color: black;
    height: 70px;

}

/* setting on right */

.settings{
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 4px;
    background-color: #4A4A4A;
    top: 4px;
    right: 28px;
    border-radius: 5px;
}

.zoom{
    padding: 4px;
    font-size: 12px;
    position: absolute;
    padding: 4px;
    top: 4px;
    right: 5px;
    border-radius: 5px;
    background-color: #4A4A4A;
    color: white;
}


/* MAIN */

/* call users frame */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    background-color: black;
}

.container{
    max-width: 1300px;
    height: calc(100vh - 100px);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 4px;
    

}

.user_picture{
    height: 100px;
    width: 182px;
    flex-wrap: wrap;
    position: relative;

    background-image: url(https://i.picsum.photos/id/560/250/150.jpg?hmac=hXiRi9FyvVg-cFe1qINOCYmajJCt4yRdIWivV7rBraw);
}

.user_name{
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: 500;
    background-color: #67717d8f;
    bottom: 0px;
    left: 0px;
    padding: 4px;
}

/* FOOTER */


.footer{
    background-color: #222222;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    /* padding: 10px 0; */
}


.footer ul{
    font-size: 10px;
    list-style: none;
    display: flex;
    column-gap: 13px;
    color: white;
}

.footer a {
    color: var(--gray);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    row-gap: 8px;
  
}

.footer a>i {
    font-size: 20px;
}


i.fa-solid.fa-chevron-up {
    font-size: 12px;
    margin-top: 15px;
}

/* menu left */

.menu_left{
    padding-top:  10px;
    padding-left: 5px;
}

/* menu center */

.menu_center{
    padding-top: 10px;
}


i.fa-solid.fa-share-from-square {
    color: #4BC800;
}

/* menu right */

span.menu_right {
    background-color: #4A4A4A;
    color: red;
    font-size: 14px;
    padding: 15px;
    text-align: center;

}